<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- filepath: c:\Users\User\Projects\Project DB\views\partials\footer.ejs -->
<footer class="text-center py-4 bg-gray-800 text-white">
    <p>&copy; 2025 Postify. All rights reserved.</p>
    <span class=" font-bold  bg-gradient-to-t from-pink-500 via-yellow-500 to-teal-500 bg-clip-text text-transparent flex justify-end mx-2">Build by: Md Afnan Naushad</span>
</footer>
</body>
</html>
</body>
</html>