<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Postify/edit</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="  h-screen bg-[url('https://imgs.search.brave.com/oJTrGjzR9PRtPps6kE2MS4pj0ccYA2Sa5HxtHvSo4lU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzExLzI1Lzk0LzE2/LzM2MF9GXzExMjU5/NDE2MzhfeWpqWlRQ/UmpEbnp5eUFYRHVD/SlFXTTd6S2g4TUlB/RWkuanBn')] bg-cover bg-center h-64 w-full  text-white p-10">
        <%- include('partials/header') %>
        <h5 class="font-semibold font-serif mt-28 text-3xl">Edit Your Post</h5>
        <form class="bg-white/10 backdrop-blur-md border border-white/20 rounded-xl p-6" action="/update/<%= post._id %>" method="post">
            <textarea
                class="font-consolas text-black resize-none bg-transparent block border-2 border-zinc-800 rounded-md p-3 w-1/3 outline-none"
                placeholder="Write about" name="content" id=""><%= post.content %></textarea> <!--post content is coming from the app.js it is the way to show the dynamic content in ejs-->
            <input type="submit" class=" font-bold font-Liberation Mono py-2 text-black block w-40 block rounded-md m-2 bg-blue-500 hover:transition-all duration-300 ease-in-out transform hover:scale-105 hover:bg-gradient-to-r from-pink-500 via-yellow-500 to-teal-500 " value="Update Post">
        </form>
    </div>
    <%- include('partials/footer') %>
</body>

</html>