<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Postify</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class=" bg-[url('https://imgs.search.brave.com/oJTrGjzR9PRtPps6kE2MS4pj0ccYA2Sa5HxtHvSo4lU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzExLzI1Lzk0LzE2/LzM2MF9GXzExMjU5/NDE2MzhfeWpqWlRQ/UmpEbnp5eUFYRHVD/SlFXTTd6S2g4TUlB/RWkuanBn')] bg-cover bg-center h-64 w-full  h-screen text-white font-serif p-10">
        <h3 class="text-3xl m-2">Create Account</h3>
        <form action="/register" method="post"> <!--hmlog ko website ka backend jisme registered likekha hua aaega usko show krne ke liyeaction me route ka naam aut method me post use krna pdega-->
            <input  class="px-3 py-2 outline-none bg-transparent border-2 rounded-md border-solid border-zinc-800 placeholder-black" type="text" placeholder="name">
            <input  class="px-3 py-2 outline-none bg-transparent border-2 rounded-md border-solid border-zinc-800 placeholder-black"type="text" placeholder="username" name="username">
            <input class="px-3 py-2 outline-none bg-transparent border-2 rounded-md border-solid border-zinc-800 placeholder-black" type="password" placeholder="password" name="password">
            <input class="px-3 py-2 outline-none bg-transparent border-2 rounded-md border-solid border-zinc-800 placeholder-black" type="text" placeholder="email" name="email">
            <input class="px-3 py-2 outline-none bg-transparent border-2 rounded-md border-solid border-zinc-800 placeholder-black" type="text" placeholder="age" name="age">
            <input class="px-3 py-2 outline-none bg-blue-600 border-2 rounded-md border-solid border-zinc-800 hover: bg-blue-800 placeholder-black  cursor-pointer" type="submit" value="Create Account">
            
            
        </form>
    </div>
</body>
</html>